.header {
    background-image: url("../res/header-logo_2d.svg");
    background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 0; /* Под всем контентом */ */
	pointer-events: none; /* Чтобы не перехватывало клики */
	opacity: 0.04; 
	filter: brightness(0) invert(1); /* Делает черный -> белый */
}

.header svg {
  animation: rotate 120s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Arial, sans-serif;
}

#wheelCanvas {
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#selected-text {
    margin: 20px 0;
    font-size: 130%;
	MIN-HEIGHT: 15%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	z-index: 1;
}

p {
  margin: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;   
  border: 0px solid #ccc;
  text-align: center;
  width: 50%;
  z-index: 1;
}

button:hover {
    background-color: #0056b3;
}

.page-header {
    padding: 20px 0;
}

.page-title {
    margin: 0;  
	font-size: 2.5rem; 
	font-weight: bold; 
	border: 0px solid #ccc;
	text-align: center;
}

.author-signature {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
}

.author-name {
  font-weight: bold;
  color: #333;
}

/* 768px (обычно планшеты и телефоны) */
@media (max-width: 768px) {
  p {
    width: 90%;
  }
  .page-header {
	  padding: 10px 0;
  }
  #selected-text {
    margin: 10px 0;
  }
  .html span, .limg span, .cimg span {
    font-size: 84%;
  }
}