

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* #wheelCanvas { */
	/* border-radius: 50%; */
	/* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
/* } */

#wheelCanvas {
  width: 100%;
  max-width: 500px; /* Максимальный размер для десктопов */
  height: auto;
  /* aspect-ratio: 1/1; /* Сохраняем квадратную форму */ */
  display: block;
  margin: 0 auto;
}

#selected-text {
    margin: 20px 0;
    font-size: 130%;
	height: 15%;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;   
  border: 0px solid #ccc;
  text-align: center;
  width: 50%;
}

button:hover {
    background-color: #0056b3;
}

.page-header {
    padding: 20px 0;
}

.page-title {
    margin: 0;  
	font-size: 2.5rem; 
	font-weight: bold; 
	border: 0px solid #ccc;
	text-align: center;
}

.author-signature {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1000;
}

.author-name {
  font-weight: bold;
  color: #333;
}

/* 768px (обычно планшеты и телефоны) */
@media (max-width: 768px) {
  p {
    width: 90%;
  }
  .page-header {
	  padding: 10px 0;
  }
  #selected-text {
    margin: 10px 0;
  }
  .html span, .limg span, .cimg span {
    font-size: 84%;
  }
}